@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.burgerIngredients {
  width: 600px;

  &__ingredients {
    max-height: calc($max-height - 10px);
    overflow-y: auto;
  }
}
