@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';


.burgerIngredients {
  width: 600px;
  @include scrollbar();

  &__ingredients {
    max-height: $max-height;
    overflow-y: auto;
  }
}