$max-height: calc(100vh - 324px);
$height-without-header: calc(100vh - 88px);
$backgroundPage: #131316;
$readyColor: #00CCCC;
$textShadow:  0px 0px 16px rgba(51, 51, 255, 0.25),
              0px 0px 8px rgba(51, 51, 255, 0.25),
              0px 4px 32px rgba(51, 51, 255, 0.5);