.buns {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    // margin-bottom: 52px;
  }

  &__flex {
    display: flex;
    gap: 9.5px;
    align-items: center;
  }
}

.constructorElement {
  max-width: 536px;

}