@import '../../styles/mixins.scss';

.burgerConstructor {
  @include scrollbar();
  width: 600px;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  position: relative;

  &__ingredients {
    max-height: calc(100vh - 324px - 200px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }

  &__item {
    max-width: 584px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    // margin-bottom: 52px;
  }

  &__flex {
    display: flex;
    gap: 9.5px;
    align-items: center;
  }
}