@import '../../styles/mixins.scss';

.burgerConstructor {
  @include scrollbar();
  width: 600px;
  position: relative;

  &__ingredients {
    max-height: calc(100vh - 324px - 200px);
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }
}